[2021-03-05 17:55] arnav-t opened #1 "Use gRPC for communication between REST API and FLINT instances"
**Is your feature request related to a problem? Please describe.**
We need a way for instances of FLINT Docker containers to communicate with the outside world.

**Describe the solution you'd like**
For this, I propose a multi-layer architecture. The top layer would be user-facing. The second layer would be a REST API (which may or may not scale as per the number of requests) and the final layer w

[2021-03-07 12:21] aornugent commented on #1
Neat! I found this the other day - https://github.com/flash-oss/allserver

On Sat, 6 Mar 2021, 4:55 am Arnav Tiwari, <notifications@github.com> wrote:

[2021-04-13 11:23] Tlazypanda opened #5 "Design Dynamic GCBM api endpoint"
**Describe how we are communicating and why it is not optimal.**
As per the discussion on slack and from @mfellows and @aornugent suggestions, the gcbm endpoint has to be dynamic in nature. This entails all the -

- config files: All files in config directory (.json and .cfg files)
- db: Input databse file (gcbm_input.db)
- input: All files in layers/tiled directory (.tif files)

 So the proposed

[2021-04-28 12:33] aornugent opened #8 "Fall back for non-S3 configuration"
The new `/download` endpoint in #7 is super cool, but I wondered if it's possible to make the use of S3 buckets optional. This would be useful for people that want to rent a VM or host a bare-metal server that has permanent volumes for storage.

Perhaps we can start by describing what we expect the default behaviour to be, then think about a design where the S3 credentials are added in without use

[2021-05-15 01:49] aornugent commented on #5
@Tlazypanda - I think we can close this, but please comment with a link to your documented design once it's written.

[2021-05-15 01:49] #5 closed

[2021-05-15 01:51] aornugent opened #14 "Add FLINTcloud sub-project to ReadTheDocs"
@Tlazypanda - now that you've the first version of FLINTcloud documentation in #13, can you please show @sarthakkundra how to deploy new documentation on docs.moja.global?

@sarthakkundra we need to document the process itself (and then deploy the deployment instructions) so that other projects can migrate their documentation to a central repository.

[2021-05-17 18:36] Tlazypanda commented on #14
Hey @aornugent yes definitely @sarthakkundra can you set up your readthedocs account and share your username with me? I will add you as a maintainer so you can see our dashboard. (@aornugent maybe you can share your username too because it will be easier to maintain ahead)

In the dashboard there is a setting called subprojects, now under this setting any new repository added in readthedocs can be

[2021-05-17 21:37] aornugent commented on #14
Thanks Sneha! I'm using my Github account so please add aornugent

On Tue, 18 May 2021, 6:37 am Sneha Mishra, ***@***.***> wrote:

[2021-05-19 09:09] sarthakkundra commented on #14
Hey @Tlazypanda I have also signed up using my Github. So it's `sarthakkundra` on RTD 😄

[2021-06-12 21:28] shubhamkarande13 opened #19 "Add support for Cross-Origin Resource Sharing (CORS) in the FLINT Example REST API"
### The Problem:

I am working on a proof of concept of a user interface for FLINT Example REST API.

I am trying to connect the [basic UI](https://github.com/waridrox/basic-ui) made by @waridrox to the FLINT Example but the request gets blocked by the Cross-Origin Resource Sharing (CORS) policy.
[Please go through this great document on MDN to understand the CORS policy and its implications. ](ht

[2021-06-13 04:18] abhi211199 commented on #19
Hey @shubhamkarande13 , Flask's CORS library doesn't pose any sort of security issues while hosting an API in the cloud i.e. you can use it in the cloud deployments, but there are a few steps that you should take to secure the cloud API.

- Add a list of origins from which request may arrive(https://github.com/corydolphin/flask-cors/issues/212)
- Using JWT authentication for users will secure the

[2021-06-13 06:45] aornugent commented on #19
Thanks @abhi211199.

@shubhamkarande13 - let's go with the approach for the time being, but can you please file issues for adding: an origin list, JWT auth and https.

[2021-06-13 08:05] shubhamkarande13 commented on #19
@abhi211199 Thank you very much for your insights!

[2021-06-14 11:05] #19 closed

[2021-06-14 15:29] chicken-biryani opened #21 "Command not working."
The command:

Here in Flask.example REST API Setup
In order to run the REST API, please follow the following steps: -

1) docker build -t FLINT-api .

2) docker run --rm -p 8080:8080 FLINT-api

These commands do not work properly.

Gives :
"invalid argument "FLINT-api" for -t, --tag" flag: invalid reference format: repository name must be lowercase.
See 'docker build --help'.

[2021-07-03 08:52] iamrajiv opened #23 "Binding to all interfaces detected with hardcoded values"
**Describe the bug**

Binding to all network interfaces can potentially open up a service to traffic on unintended interfaces, that may not be properly documented or secured. This can be prevented by changing the code so it explicitly only allows access from localhost.

When binding to `0.0.0.0`, you accept incoming connections from anywhere. During development, an application may have security vu

[2021-07-04 18:09] #23 closed

[2021-07-05 19:12] iamrajiv opened #26 "Subprocess run with ignored non-zero exit"
## Description

`subprocess.run` uses a default of `check=False`, which means that a nonzero exit code will be ignored by default, instead of raising an exception.

[2021-07-21 20:30] #21 closed

[2021-07-24 07:04] aornugent opened #30 "Explain costs associated with GCP architecture"
@arnav-t has done some early analyses of the costs for different sized GCBM runs here:
* https://docs.google.com/spreadsheets/d/1F1se1fBGAQoFr0egH7lxJx2UDqvSDzXXQMpS9sFCUfM/edit?usp=drivesdk
* https://docs.google.com/spreadsheets/d/14qTzqExD_yjTZUR80xfxKbo6FBLFeUw-qT2M_6dJjYg/edit?usp=drivesdk

We should put these in the README/wiki alongside deployment instructions.

[2021-07-24 11:53] aornugent opened #31 "Document repo organisation"
We are slowly adding different deployment scenarios. These should be organised by provider, then FLINT implementation:

[code]

[2021-07-31 12:48] #8 closed

[2021-08-04 06:53] Ayush7614 opened #32 "Added workflows auto-labeller.yaml"
Added workflows auto-labeller.yaml
Added github-issue labeller ci

[2021-08-30 11:04] shubhamkarande13 opened #34 "Add support for Cross-Origin Resource Sharing (CORS) in the GCBM REST API (Cloud & Local)"
This issue is the exact same issue as #19, but in the Local and Cloud versions of the GCBM REST API.

Fix: Please have a look at #20.

Files to be changed:

Cloud:
- [app.py](https://github.com/moja-global/FLINT.Cloud/blob/master/rest_api_gcbm/app.py)
- [requirements.txt](https://github.com/moja-global/FLINT.Cloud/blob/master/rest_api_gcbm/requirements.txt)

Local:
- [app.py](https://github.com/mo

[2021-09-01 14:20] #34 closed

[2021-10-13 03:47] iamrajiv opened #38 "Google Cloud Storage bucket name should be randomly generated"
Currently, the Google Cloud Storage bucket name is hardcoded with the name `simulation_data_flint-cloud` this might give an error something like this

[code]

[2021-10-21 22:01] aornugent opened #39 "Remove top level REST folders"
There are two folders `rest_api_*` that also exist in `local/rest_api_*` creating duplication and confusion.

I propose removing the top level folders and working within the `local` folder going forward.

[2021-11-23 10:49] #26 closed

[2021-12-19 06:23] Namyalg opened #42 "Refactor of README.md"
I will work on refactoring the README.md, make it easier to read and navigate similar to https://github.com/moja-global/FLINT-UI and https://github.com/moja-global/community-website

[2022-01-01 23:48] aornugent opened #44 "Explore DVC and CML for demonstrating continuous data driven integration"
Reproducible research requires publishing all code and data to derive the same results. Independently replicating results reinforces our belief that the analysis is valid and correct. However data are often not well supported by existing version control system.

Data version control (DVC) and it's companion software Continuous Machine Learning (CML) provide a framework to continuosly reproduce ana

[2022-01-06 12:17] #39 closed

[2022-01-26 17:17] #32 closed

[2022-02-07 14:15] Namyalg opened #57 "Tests for the REST API end points"
Automated tests using pytest will be written for the REST API Endpoints

[2022-02-08 14:45] khabdrick opened #58 "No Dockerfile"
![2022-02-08_15-37](https://user-images.githubusercontent.com/57852546/153010180-ce2e24e0-d21c-4dec-abd8-7f75ee1a105c.png)

I tried to run the `docker build -t flint-api .` command to build the project locally, and I got the error above.

[2022-02-09 09:04] chicken-biryani commented on #58
Hey, @khabdrick can please change the path to the directory that contains the docker files.

[2022-02-09 09:17] khabdrick commented on #58
@chicken-biryani  thanks for the help, it works now. I didn't know the Dockerfile was in anothe location. Maybe it should be stated in the README, what do you think?

[2022-02-09 09:17] khabdrick commented on #58
@chicken-biryani  thanks for the help, it works now. I didn't know the Dockerfile was in another location. Maybe it should be stated in the README, what do you think?

[2022-02-09 09:18] chicken-biryani commented on #58
@khabdrick Have you followed the instructions given in the Readme while setting up the project on your local machine?

[2022-02-09 09:25] khabdrick commented on #58
@chicken-biryani  Yes I did, I just didn't know the Dockerfile was in another directory other than the root.

[2022-02-09 09:27] chicken-biryani commented on #58
@khabdrick then it should definitely be added in the Readme. We don't want others to face the same problem. Thanks for pointing it out. Can you open an issue followed by a pull request that solves the problem?

Thanks!

[2022-02-09 15:15] khabdrick opened #59 "Add Dockerfile path to README"
Add the path to `Dockerfile` in the README

[2022-02-11 19:04] #57 closed

[2022-02-20 05:46] gchhablani opened #64 "SQLite version needs to be updated"
Currently, the SQLite version is causing issues when running the GCBM Belize project inside a FLINT Cloud container. Newer functions lie RANK/PARTITION do not work with the old version.

See the [issue here](https://github.com/moja-global/GCBM.Belize/issues/5) for more details of the errors.

As discussed with @mfellows @aornugent on Slack, SQLite needs to be be updated to either this or a newer v

[2022-02-21 09:11] aornugent commented on #64
This is resolved on #63 but some minor changes need to be propagated upstream in [#28](https://github.com/moja-global/moja.canada/pull/28) and [116](https://github.com/moja-global/FLINT/pull/116)

[2022-02-21 23:12] Namyalg opened #67 "Endpoint /gcbm is not found"
As mentioned in the documentation, the endpoint /gcbm in the GCBM REST API demo return 404 not found

![image](https://user-images.githubusercontent.com/53875297/155330815-043b66df-1ebd-4567-a5a7-60e27ee78ce3.png)

[2022-02-22 05:53] Namyalg opened #68 "Update instructions in README.md"
The unzipping instruction for the GCBM_demo_run.zip to setup the GCBM REST API is incorrect in the present version of the README

[2022-02-25 23:20] aornugent opened #72 "GDAL not found in GCBM container"
GDAL 3.4.1 is built in the `flint.base` image along with it's python bindings on [L157](https://github.com/moja-global/FLINT.Cloud/blob/f1063fc717928fbe71b16305291c0d7492deb387/local/rest_api_gcbm/Dockerfile.base#L157), but python doesn't know where to find it.

[code]

If I append the `osgeo` package (the parent of GDAL) to PYTHONPATH I get a different error:

[code]

[code]

[2022-02-25 23:28] aornugent commented on #72
False alarm - I can access it from the osgeo package

[code]

[2022-02-25 23:28] #72 closed

[2022-03-01 11:22] Namyalg opened #74 "Update instructions and format README for the GCBM REST API example setup"
- The instructions present https://github.com/moja-global/FLINT.Cloud/tree/master/local/rest_api_gcbm are not corresponding to the latest repository structure
- Store the endpoints in a tabular format similar to https://github.com/moja-global/FLINT.Cloud

[2022-03-01 11:49] akashthedeveloper commented on #74
Would love to fix this issue?

[2022-03-08 17:09] KhushiChaudhary744 commented on #44
Hi, I am Khushi Chaudhary, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 18:51] chicken-biryani commented on #44
Hey, @KhushiChaudhary744!

You can have a look at the recent messages on the #cloud channel of our slack. People have talked about their findings so far over there and the community would be happy to help you catch up!

[2022-03-09 10:30] aornugent opened #76 "Remove redundant fields from RothC config."
Input data for simple modules like RothC are sent to the FLINTcloud backend in JSON format. The existing config example has several fields for each input data type when only one is necessary.

We can standardise this by consolidating all of the input data fields to only have one data value called `data` which is the default `data_property` used in FLINT.

For example: https://github.com/moja-globa

[2022-03-09 11:54] Sukriti-sood commented on #76
@aornugent Can I work on this.

[2022-03-09 20:56] aornugent commented on #76
Yes please!

[2022-03-12 04:36] varsha089 commented on #68
Hi, I am Varsha, a contributor to OpenForce 2022. I would like to work on this issue. Could you please assign it to me.

[2022-03-12 04:39] Namyalg commented on #68
I have raised a PR for this issue already!

[2022-03-13 01:50] #67 closed

[2022-03-13 04:36] akashthedeveloper commented on #74
@HarshCasper Since, this issue is been solved I think the issue needs to be closed.

[2022-03-13 05:20] #74 closed

[2022-03-13 07:02] #68 closed

[2022-03-13 07:15] Namyalg opened #80 "Adding tests to POST endpoints in rest_api_flint.example"
Currently, the `rest_api_flint.example` has tests for `/spec` and `/version`, I would like to extend testing for all the other endpoints

[2022-03-13 09:17] #42 closed

[2022-03-18 10:52] aornugent opened #82 "Replace GCBM container with moja.canada package"
#63 included an updated Docker build for the GCBM container and #65 + #70 published them on the Github Container Repository.

However, [#29](https://github.com/moja-global/moja.canada/pull/29/files) also publishes an image for the GCBM. The build in the FLINT.cloud repository can be simplified to draw from the correct source.

It's slightly circular that moja.canada pulls from FLINT.cloud then FLI

[2022-03-20 08:44] Namyalg opened #83 "Reference local path of a volume in a docker container to process inputs"
Currently, the inputs to the model at the `/gcbm/upload` route are uploaded via a `POST` request, through this issue, a docker volume mounted will be referenced and used to prepare the inputs for the model

[2022-03-21 11:28] Namyalg opened #85 "Interact with GCBM endpoints using cURL"
Presently, in the docs, interaction with the GCBM example endpoints is possible only using the Postman collection provided. I would like to provide a command-line alternative using cURL to interact with the endpoints.

[2022-03-21 15:04] suvadityamuk opened #87 "/point and /rothc taking too long to load"
I have been trying to set up `FLINT.Cloud` on my local machine to test around, and I was trying to run the `point` and `rothc` examples as per the README.md examples.
On using the endpoints, I am facing timeouts even after waiting for almost 10 minutes.

For context, here are some images of my command line from running the Docker commands and the Postman endpoints I am hitting.

![image](https://u

[2022-03-22 07:41] #85 closed

[2022-03-23 20:57] #59 closed

[2022-03-23 21:03] khabdrick opened #90 "Dockerfile for tests"
I noticed that there is no Dockerfile or anything in the README that runs the Python tests during development. I would like to take this up but I just want to find out if it is worth working on or looking into.

[2022-03-25 20:18] aornugent opened #91 "Add npm to rest_api_gcbm Dockerfile for CML actions"
We sometimes use this image for running automated tests. There's an example of our CML workflow here: https://github.com/moja-global/GCBM.Belize/pull/7

Because the rest_api_gcbm image just a light wrapper over the standard GCBM build, I think it's ok to add npm here and save the installing it in every workflow. Please add npm to the rest_api_gcbm Dockerfile.

[2022-03-27 16:18] ankitaS11 commented on #91
Hi @aornugent, My initial outreachy application got approved and was looking at the organization list, and found moja global doing some great work. I am looking forward to contribute to moja global. Is it okay, if I start of with this issue?

[2022-03-27 16:43] chicken-biryani commented on #91
Hi, @ankitaS11 we've listed a few tasks on Slack in the #outreachy channel.

You could work on the issue... But then you won't be working in the required direction.

I understand that you have to report a contribution but making one in the right direction may help you better.

If you haven't joined our slack, please do so. You'll find the link in the Readme or under the community landing page (Out

[2022-03-27 19:42] #91 closed

[2022-03-27 19:52] #76 closed

[2022-03-27 20:27] Namyalg commented on #87
Hey, `/point` and `/rothc` are POST endpoints

[2022-03-27 20:37] Namyalg opened #93 "GCBM Test suite does not report simulation failure"
Currently, when the `GCBM` example simulation is run locally, fails. However then test suite for does not report a failure.
The behaviour observed is as follows :
1. `/gcbm/new` and `/gcbm/upload` function as expected in the test suite and locally
2. On running `/gcbm/dynamic` locally, the endpoint returns `(200, {"Run started"})`. Soon after the simulation fails. This is not covered in the test s

[2022-03-28 10:12] suvadityamuk commented on #87
Ahh. I understand, thank you very much for the help

[2022-04-06 18:48] Namyalg opened #95 "Enhance Contribution Section in the README"
Currently, the contribution section does not provide details about the commit/branch conventions followed.
It can be made similar to : https://github.com/moja-global/FLINT-UI

[2022-04-11 15:02] HarshCasper opened #96 "Implement the `rest_api_flint.example` root endpoint"
## Description

Add a root endpoint to the `rest_api_flint.example` API. It can be as simple as adding:

[code]

Test it on the Docker container and submit a patch.

[2022-04-11 15:05] HarshCasper opened #97 "Add `*.azurewebsites.net` to the CORS origin"
## Description

Right now, we are getting CORS errors over the deployment of FLINT.Cloud and FLINT-UI. The error can be traced over to these references:

- FLINT.Example: https://github.com/moja-global/FLINT.Cloud/blob/da310e4efcd969c0dfe54f06f550fc2e37571571/local/rest_api_flint.example/app.py#L14
- REST API GCBM: https://github.com/moja-global/FLINT.Cloud/blob/da310e4efcd969c0dfe54f06f550fc2e375

[2022-04-11 15:06] HarshCasper commented on #90
Hi @khabdrick

This is indeed a good issue! Thanks for reporting. I am opening this to SheCodesAfrica mentees who are looking for new tasks to work on. If you have any objections to it, please let me know accordingly.

[2022-04-11 15:30] khabdrick commented on #90
It's cool.

[2022-04-12 02:20] abant07 commented on #95
Hi @Namyalg,

I'm new to Github, so I am not very familiar with all features and files, but I was wondering if you could elaborate more on the problem with the README file?

Thanks

[2022-04-12 03:20] Namyalg commented on #95
Hey @abant07, as stated have a look at the README file for FLINT UI as linked above, and think about how the README of FLINT cloud can be improved.
To give more context on a README file, it provides information about a project, it's usage, contributing guidelines etc.

[2022-04-12 03:30] abant07 commented on #95
Hi @Namyalg

So, I should just find things to add in README file of the FLINT cloud server by looking at the things in the FLINT UI server README file? If so, could I be assigned to this issue?

Thanks

[2022-04-12 09:28] Namyalg commented on #95
Look at the FLINT UI README, and see how the FLINT Cloud README can improved and user-friendly. For instance, think of what a new contributor might want to know before making their first contribution
@HarshCasper can assign this issue to you

[2022-04-12 19:22] adenicole commented on #90
Hi, I'd like to work on this.

[2022-04-13 09:00] aornugent commented on #97
The CORS whitelist can be a deployment specific set of values. Perhaps we can stored the whitelist in an environment variable?

[2022-04-20 12:59] tolusolaadeyemi commented on #97
Hi, I would like to work on this issue

[2022-04-22 12:16] tolusolaadeyemi commented on #96
Hello @HarshCasper I would like to work on this issue that you suggested during the meeting.

[2022-04-30 11:30] #87 closed

[2022-05-03 07:57] Namyalg opened #105 "Unable to setup FLINT cloud on GCP"
I am following the steps to setup FLINT cloud on GCP. I have :

[In step 3](https://github.com/moja-global/FLINT.Cloud/blob/deployment-docs/docs/deployment/index.rst) : In main.tf, change the project variable to your project ID. Change any other variables if necessary.

What are the other variables needed to be changed ?
Error might be due to this

Variation 1
1. Created a service account with Own

[2022-05-03 09:29] #82 closed

[2022-05-03 09:35] aornugent opened #106 "rest_api_gcbm build is broken"
Reported in https://github.com/moja-global/FLINT-UI/issues/258 and on Slack - there seems to be something wrong with the integration of moja.canada into our GCBM endpoints.

The last known working version was https://github.com/moja-global/FLINT.Cloud/pull/63 but CI was not configured at this time. @HarshCasper - I believe you manually pushed a copy from a forked repository, but it's hard to tell

[2022-05-03 09:47] arnav-t commented on #105
These errors seem to be because the resources are already created. Did you maybe create them yourself or terminate the "terraform apply" command previously while it was processing?
I would try "terraform destroy" a few times to remove these resources first, if that doesn't fix the issue than manually destroying these resources surely will.

[2022-05-03 10:02] Namyalg commented on #105
Yes, I have destroyed the resources
Do I have to follow method 1 or 2 ?

[2022-05-03 10:11] arnav-t commented on #105
Use the first method.
The "flint-cloud-sa" service account is meant to be internal, completely managed by terraform. Make sure you named your project owner service account something else.

[2022-05-03 10:13] Namyalg commented on #105
okay, I'll try it again
The resources allocated are
 - Storage
 - Pub/Sub

 Am I missing anything ?

[2022-05-03 10:17] arnav-t commented on #105
There could be more not showing up in the error but you can start by getting rid of those first.

[2022-05-03 11:14] Namyalg commented on #105
I'm unable to identify which resources these point to

[code]

[2022-05-03 18:23] Namyalg commented on #106
This is a file containing the various SHAs of the moja.canada image in chronological order
It might help in checking which build was working as expected

[canada.csv](https://github.com/moja-global/FLINT.Cloud/files/8612755/canada.csv)

[2022-05-04 08:36] aornugent commented on #106
@Namyalg - Harsh has reported a functioning build from March on [his fork](https://github.com/HarshCasper/FLINT.Cloud/commits/master). We might be able to zero in on packages published around this time.

[2022-05-04 09:09] Namyalg commented on #106
Alright, will check

[2022-05-05 12:29] Iheanacho-ai commented on #95
hey good day please is this issue still opened to work on

[2022-05-05 22:08] arnav-t commented on #105
Delete the pubsub subscription "large-simulations-sub" as well.

[2022-05-06 01:35] Namyalg commented on #105
I have ensured the  storage bucket `simulation_data_flint-cloud`, pub-sub resources `small-simulations` and `large-simulations`, and the service account `flint-cloud-sa` are deleted, but still face the same error.

[2022-05-06 01:44] arnav-t commented on #105
`simulation_data_flint-cloud` bucket? That was supposed to have been phased out by fixing #38
I see the PR for it still hasn't been merged yet. That must be the cause for the issue you're facing. A temporary fix to check if this is indeed the root cause would be to destroy the resources in @iamrajiv 's GCP project and then try again. However, ideally we'd want his PR to be tested and merged ultima

[2022-05-06 03:59] Namyalg commented on #105
Alright.
Are you referring to @iamrajiv 's [fork ](https://github.com/iamrajiv/FLINT.Cloud) ?

[2022-05-06 04:02] arnav-t commented on #105
I'm talking about his GCP project. I believe he made one while working on the aforementioned PR.

[2022-05-06 04:05] Namyalg commented on #105
Okay 👍🏻

[2022-05-14 17:03] Namyalg opened #108 "Unable to build the gcbm-api image"
Currently, on running the command `docker build --build-arg BUILD_TYPE=RELEASE --build-arg NUM_CPU=4 -t gcbm-api .` generates
![image](https://user-images.githubusercontent.com/53875297/168441223-051402cc-e3b3-46bc-99b3-fc232be46404.png)
![image](https://user-images.githubusercontent.com/53875297/168441527-67a1fd97-8046-44b9-8ea3-cef473df12c6.png)

The image does not build successfully

[2022-05-14 17:09] Namyalg commented on #108
The warning is generated on the running command `docker build --build-arg BUILD_TYPE=RELEASE --build-arg NUM_CPU=4 -t gcbm-api .`

Should this be changed to `docker build  -t gcbm-api .` ?

![image](https://user-images.githubusercontent.com/53875297/168441748-d7e0c5bc-b3ed-4fa4-a829-fc39a1071b8d.png)

[2022-05-15 20:28] padmajabhol opened #110 "Implement the pre-processing script for new GCBM simulation"
The `/upload` endpoint present in the [rest_api_gcmb](https://github.com/moja-global/FLINT.Cloud/blob/master/local/rest_api_gcbm/app.py#L157) accepts inputs present in the [GCBM_Demo_Run](https://github.com/moja-global/FLINT.Cloud/blob/master/GCBM_Demo_Run.zip).

The [pre-processing script](https://github.com/padmajabhol/LFX-mentorship-progress-tracker/blob/main/GCBM_Demo_Run/config/app.py) genera

[2022-05-16 05:31] Namyalg commented on #110
In addition to the above endpoints, we can have a `/download-config` to get the config files used for the simulation

[2022-05-19 18:39] #108 closed

[2022-05-19 18:49] #95 closed

[2022-05-22 01:47] aornugent commented on #106
@HarshCasper - issues with the `flint.gcbm` image have been resolved but our build pipeline is not yet functional. Can you please help me debug?

[2022-05-22 07:25] aornugent commented on #106
This was a super unhelpful failure mode: https://github.com/moja-global/FLINT.Cloud/actions/runs/2365459825

If it's a memory overflow, perhaps we need to somehow prune the base image? @Namyalg - you encountered some strange behaviour with your local builds that were resolved by reducing the number of concurrent threads?

[2022-05-22 07:30] Namyalg commented on #106
Yes, explicitly passing NUM_CPU as 1, resolved it

[2022-05-22 11:23] Namyalg opened #113 "Rename the endpoint /dynamic to /run in the GCBM example"
Presently, the `/dynamic` endpoint is used to run the simulation. The endpoint can be renamed to something more intuitive like `/run`

[2022-05-22 11:54] aornugent commented on #106
@HarshCasper has manually pushed a copy of `flint.gcbm` and our CI for `rest_api_gcbm` now functions. This creates a manual bottleneck in an otherwise automated pipeline, but it is manageable for now. We will update the GitHub Actions (GHA) workflow to build the `flint.gcbm` image when we have resolved the issues of building on small memory GHA Runners,

[2022-05-22 11:54] #106 closed

[2022-05-23 05:10] padmajabhol opened #114 "Replace tiff files in the GCBM_Demo_Run with their respective masked tiffs"

[2022-05-25 01:05] Ansh-Sarkar commented on #97
Hi ! Was just getting started with trying to understand the codebase. Just to confirm : We need to add ```*.azurewebsites.net``` to the above mentioned files in order to enable Cross Origin Requests right ?

If this issue is still open and nobody is working on it, I would surely like to work on it.

[2022-05-26 16:15] tolusolaadeyemi commented on #80
Hello @chicken-biryani @Namyalg would it be okay if I worked on this issue?

[2022-05-26 16:17] Namyalg commented on #80
Yep, you can work on it

[2022-05-28 12:44] YashKandalkar opened #119 "localhost:8000 is not added in the CORs origins"
Add the address `http://localhost:8000` in [the origins list](https://github.com/moja-global/FLINT.Cloud/blob/3151a4bbb93b747c873da7a3c0e45da5b70885da/local/rest_api_flint.example/app.py#L16) in the CORs configurations as many people open the FLINT UI on localhost and not 127.0.0.1

The API requests do not work from localhost currently.

[2022-05-29 12:00] AayushSaini101 opened #121 "Documentation of the FLINT Cloud"
The documentation of the flint cloud is missing. The curl file only contains a little information.
**Missing content of the documentation.**
![new](https://user-images.githubusercontent.com/60972989/170866939-c89a1ea5-8c68-4832-b40d-5141f688e275.PNG)
- Project Structure
- Internal working.
- Required output of the API.

[2022-05-29 12:18] ayush78781 commented on #121
@padmajabhol as you were already working on Flint-Cloud. So, please do share your thoughts how we can make east going.

[2022-05-30 08:05] YashKandalkar commented on #119
Fixed in #120

[2022-05-30 08:05] #119 closed

[2022-05-30 12:37] AayushSaini101 opened #122 "Implement the test_cases for rest_api_example"
The test_cases of rest_api_example routes are missing. These are some following endpoints of the rest_api_example.

![new](https://user-images.githubusercontent.com/60972989/170993741-775b6c7e-9daa-48d0-a18a-80b5a80db186.PNG)

[2022-05-31 18:02] AayushSaini101 opened #124 "Rename the name of key "finished" to "status" in the /gcbm/status routes"
Presently, the  **/gcbm/status** route returning the message {"finished": message"}. This return statement can be  renamed to {"status": message"}  inorder to make more intutitive

[2022-06-04 04:24] AayushSaini101 opened #126 "/gcbm/download api is working even for non-exist simulation title and returns a corrupted output.zip file."
**/gcbm/download** api is working even for non-exist simulation titles and returns a corrupted output.zip file.

There is only **run4** simulation is present, but it is producing the simulation for the "run47" title (This is not created)
![new](https://user-images.githubusercontent.com/60972989/171982555-5377e573-eecf-4aaf-a755-d916afcdd5cf.PNG)

**Output.zip**

![new](https://user-images.githubus

[2022-06-04 09:21] SanjaySinghRajpoot commented on #122
I would like to work in this issue.

[2022-06-04 09:45] AayushSaini101 commented on #122
@SanjaySinghRajpoot  I am currently working on it.

[2022-06-07 09:47] AayushSaini101 opened #130 "No suitable message for the gcbm/list enpoint when no simulation exist."
When there is no simulation exists this endpoint returns an empty list with a suitable message.  The following is the message.
**Message:**
`{ "data": [], "message": "To create a new simulation, create a request at gcbm/new. To access the results of the existing simulations, create a request at gcbm/download." }`

It is bad practice to return an empty list in the response. The following message is

[2022-06-07 10:33] ayush78781 commented on #130
I suppose Aayush gcbm/list endpoint is to return list of existing simulation results. Isn't it?

[2022-06-07 11:12] AayushSaini101 commented on #130
@ayush78781  Yes

[2022-06-08 18:07] soma2000-lang commented on #121
@AayushSaini101 can I work on this

[2022-06-08 18:11] padmajabhol commented on #121
Hi, I must have missed your notif. can you take a look at the curl commands here? https://github.com/moja-global/FLINT.Cloud/blob/master/local/rest_api_gcbm/curl.md
I'm pretty sure this will make more sense?

[2022-06-09 14:52] ayush78781 commented on #121
Yes it does make sense. But it's not being updated on the current documentation of Flint Cloud.

[2022-06-09 15:03] ayush78781 commented on #121
Hii @soma2000-lang You can work on this issue. But I would recommend you to explore Flint.cloud project before starting with it. And list out your understanding here of its various api's and their endpoints also the tech blockers you face in the process. Then we can go ahead assigning different parts of it as per the interest. I hope it makes sense. Feel free to ask your queries either here or ove

[2022-06-10 19:04] AayushSaini101 opened #131 "The swagger.json file of the gcbm needs to update."
Currently, the swagger.json file of the gcbm file contains the /rothc endpoint description. There is no endpoint of /rothc currently present for the rest api gcbm.

**Path of the file:**
`local\rest_api_gcbm\static\swagger.json`

![new](https://user-images.githubusercontent.com/60972989/173133147-6fe074d8-bf3e-45be-9c13-11a058e60126.JPG)

[2022-06-11 07:43] SanjaySinghRajpoot commented on #131
I have texted @shubhamkarande13 for the same a while ago. lets see what views he has on this. There is also no API structure given for the APIs which needs to be updated.

[2022-06-16 15:17] ayush78781 commented on #121
@HarshCasper can we use SwaggerHUb for an Interactive documentation of rest_apis like [this](http://petstore.swagger.io/). SwaggerHub Editor uses YAML, but we can import and download both YAML and JSON. By implementing it one doesn't have to set-up the whole project on their local or gcp. They can easily interact and understand various request through Swagger-UI. Do let me know your thoughts over

[2022-06-20 05:30] ayush78781 commented on #121
@AayushSaini101 What's your thoughts over this.

[2022-06-20 05:35] chicken-biryani commented on #121
@ayush78781 will you be okay with posting the question over slack?

[2022-06-22 13:45] Namyalg opened #134 "cURL set-up for FLINT example"
Currently, the FLINT example does not have a cURL-based setup. The cURL setup will help users interact easily with the endpoints

[2022-06-22 17:54] AayushSaini101 commented on #134
@HarshCasper  Please assign this issue

[2022-06-22 18:50] padmajabhol opened #135 "Develop documentation for REST_API_GCBM"
Since a new GCBM run has been developed, we also need to document it to help users run it on their local.
You can find a rough doc for it [here](https://github.com/padmajabhol/LFX-mentorship-progress-tracker/blob/main/gcbm.md).
Apart from this, we also need to document on how a user can change the table's name using the endpoints implemented in [config_tables.py](https://github.com/moja-global/FLI

[2022-06-22 19:00] padmajabhol opened #136 "Fix REST_API_GCBM 'value too large' error."
Currently, the simulation runs without any blockers on Linux environments, we are open to try all possible fix that might help us extend it to all os environments.
cc: @aornugent @HarshCasper

[2022-06-22 19:03] padmajabhol opened #137 "Create endpoints to verify/edit input JSONs for used during the GCBM run"
We need to develop endpoints to verify/edit JSON configurations that are created inside the docker container during the GCBM demo run, particularly the attributes linked with the JSON of every geoTIFF file. They method will be very similar to the way how we are changing the table names inside gcbm_input.db using a POST request.

[2022-06-22 20:43] padmajabhol commented on #134
Hi @AayushSaini101 since you already have a pending issue, maybe someone else can take this up.

[2022-06-23 02:04] Sukriti-sood commented on #134
@Namyalg @padmajabhol Can I work on this.

[2022-06-23 15:30] Saurabh-Suchak commented on #135
I would like to work on this issue.

[2022-06-24 05:52] SanjaySinghRajpoot commented on #137
I would like to work on this issue.

[2022-06-24 17:07] Janvi-Thakkar opened #140 "Add Configuration files for Kubernetes"

[2022-07-09 08:09] Crystalsage commented on #126
If this hasn't been fixed already - can I work on this?

[2022-07-11 14:34] Crystalsage opened #146 "Wrong docstring for a GCBM simulation method"
The docstring for the `gcbm_new()` method in GCBM API is meant for `gcbm_upload()` and seems to be duplicated from there.

https://github.com/moja-global/FLINT.Cloud/blob/089614d6f71911240d3f23250b45156432bddd0b/local/rest_api_gcbm/app.py#L131-L147

We should replace it with something meant for `gcbm_new()`.

[2022-07-12 04:43] SanjaySinghRajpoot opened #147 "feat: Adding test cases for all the new upload endpoints"
These were some of the new endpoints which were added to the FLINT. Cloud. Adding test cases for each of the endpoints mentioned below.
[code]
Thank You

[2022-07-12 04:43] SanjaySinghRajpoot commented on #147
I would like to work on this issue.

[2022-07-12 04:48] SanjaySinghRajpoot opened #148 "Issue template for FLINT.Cloud"
There is no issue template present for FLINT. Cloud. With an issue template, a user will be able to provide more information in a structured manner. That will help us understand the issue. For reference, you can look at the FLINT-UI issue template.

key point
- Description
- Context
- Changes
- Additional Info

Thank You

[2022-07-12 04:49] SanjaySinghRajpoot commented on #148
Good first issue.

[2022-07-12 05:45] Crystalsage commented on #148
Can I work on this?

[2022-07-13 01:38] padmajabhol opened #149 "Change the endpoint name `/gcbm/dynamic` to `/gcbm/run`"
Currently, the endpoint that runs the container does not have a meaningful name, we could like to rename it to something more meaningful.
After you have made the required changes, please make sure you change the pytest for the same.

[2022-07-13 01:40] padmajabhol commented on #146
Do you want to take this up? @Crystalsage

[2022-07-13 02:55] Crystalsage commented on #146
@padmajabhol Sure.

[2022-07-14 14:28] #146 closed

[2022-07-14 14:29] #134 closed

[2022-07-17 06:32] Sukriti-sood commented on #149
@padmajabhol There exist already same issue and pr[pr](https://github.com/moja-global/FLINT.Cloud/pull/118) for it.

[2022-07-17 16:46] #140 closed

[2022-07-18 10:36] aornugent opened #155 "Add python packages to `flint.gcbm` Docker image"
I've been exploring @radistoubalidis's work on the GCBM.Belize repository and would like to add two upstream dependencies to our `flint.gcbm` docker image:

* DVC - `pip install dvc`
* mojadata -  `pip install git+https://github.com/moja-global/GCBM.Data#subdirectory=mojadata`

These should be small changes to `docker/Dockerfile.gcbm` but please test your build locally.

[2022-07-19 19:32] padmajabhol commented on #155
@Sukriti-sood

[2022-07-20 04:01] Sukriti-sood commented on #155
I would like to work on this issue.

[2022-07-20 16:44] #149 closed

[2022-07-20 16:50] #147 closed

[2022-07-20 17:06] #113 closed

[2022-07-20 17:09] #64 closed

[2022-07-20 17:10] #110 closed

[2022-07-23 00:07] aornugent commented on #136
Here is the nightly from Jun 22nd: https://github.com/moja-global/FLINT.Cloud/pkgs/container/rest_api_gcbm/26346728

We can work backwards through the builds using bisection to quickly find the previous known working state.

[2022-07-23 09:27] aornugent commented on #136
Here's an earlier description of the problem: https://github.com/moja-global/FLINT.Cloud/pull/111#issuecomment-1155698240

It might be differences in instruction set. @radistoubalidis can we set a specific architecture in our Github Actions?

[2022-07-24 01:39] #155 closed

[2022-07-24 02:14] aornugent commented on #136
@HarshCasper or @Simpleshell3 or @Janvi-Thakkar  or @SanjaySinghRajpoot - can you confirm whether the latest `flint.gcbm` container runs the GCBM Demo Run on the Azure VM listed here: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#cloud-hosts-used-by-github-hosted-runners

I'd like to identify whether the issue is caused by a bug in our software or the e

[2022-07-25 02:21] Namyalg opened #158 "Revamp the Sphinx documentation website"
The existing Sphinx documentation website is not up-to-date with the existing project advancements.
1. The structure of the website can be improved
2. Installation and setup instructions updated to the existing endpoints and setup
3. Change the theme to furo

[2022-07-25 02:33] SanjaySinghRajpoot commented on #158
I would like to work on this issue.

Thank You

[2022-07-26 19:05] Janvi-Thakkar opened #159 "Create deployment of FLINT APIs on AKS cluster."

[2022-07-29 11:22] Janvi-Thakkar opened #161 "Add Pytests for Point and RothC"

[2022-07-30 10:00] #159 closed

[2022-07-30 12:26] #161 closed

[2022-08-06 01:01] aornugent commented on #136
@padmajabhol @Namyalg

I *think* I know what's causing this. After checking a few of our old builds, I decided to try revisit the old GCBM Demo Run and found that it worked! Well - it worked after a [few tweaks (#165)](https://github.com/moja-global/FLINT.Cloud/pull/165).

So with a working reference, I generated the `run4` test simulation using the REST API, following the commands in [`curl.md`](

[2022-08-06 17:01] sailorworks commented on #148
Hi, please assign this issue to me.

[2022-08-07 05:04] Namyalg commented on #136
I still get the error, I have typecasted all the occurrences to `float`

[2022-08-07 05:21] aornugent commented on #136
Hmm, ok. I'll keep looking. Can you please share a gist (or a patch) showing how you added strong typing to `app.py`?

Regarding the error message - it's a bit cryptic, I'm not sure if it means the value is large in memory or numerically. It's a mystery!

[2022-08-07 05:34] Namyalg commented on #136
https://github.com/moja-global/FLINT.Cloud/pull/166/files
typecasting added to `app.py`

Alrighty 👀

[2022-08-09 03:06] padmajabhol commented on #136
Same, I still get an error.
Have we tried to compare the docker sizes before and after the changes?

[2022-08-09 04:40] aornugent commented on #136
I did a detailed diff between @Namyalg's config and the reference simulation and found a small discrepancy.

In @Namyalg's API generated copy of `intial_age.json` the `nodata` value is `3.8e+38`, but the input layer is type `Int16`. If I change the value to: `32767` then I think the simulation runs.

@padmajabhol can you please test if this fixes the error for you?

If so, that means our type safe

[2022-08-09 08:47] padmajabhol commented on #136
Makes sense. Sure.

[2022-08-10 07:33] rahulsh18 commented on #30
hi @aornugent , is anyone still working on this issue? if not, I'd like to.

[2022-08-13 06:05] aornugent commented on #136
@padmajabhol @Namyalg  - were you able to test this fix?

[2022-08-13 06:28] Namyalg commented on #136
It doesn't work, we tried setting the values to 32767 in `mean_temperature` and `inital_age`, but still throws the same error

[2022-08-13 06:28] padmajabhol commented on #136
Hi, @Namyalg and me went on a meet to discuss this.

From what we understood from your previous comment is that, you wanted the `float32` values to change to `init16` so the value `3.4e+38` can change to `32767`. For now, the `mean_annual_temperature` json looks like this: https://docs.moja.global/en/master/GCBM/GCBMInputs/InvestigatingGCBMInputs/miscellaneous/mean_annual_temperature.html

We chan

[2022-08-13 06:36] aornugent commented on #136
Thanks @padmajabhol  - that's not quite what I meant.

The input tiff files are in a variety of formats. Byte, Float32, and Int16. Each of these files has a different `nodata` value.

The bug I described above is in the API generated configuration for `initial_age.tiff`. If I start a new simulation, run the command described in `curl.md` and inspect the file `initial_age.json` I see it has a value

[2022-08-13 06:39] Namyalg opened #170 "Move the preprocessing functions ` get_config_templates`, ` get_modules_cbm_config`, `get_provider_config` to a separate file"
The above mentioned preprocessing functions are present in the file https://github.com/moja-global/FLINT.Cloud/blob/master/local/rest_api_gcbm/app.py
For ease of use and readability, it will be a good idea to shift these to a different file

[2022-08-13 06:42] padmajabhol commented on #136
This was the JSON file that I for for `initial_age_moja.tiff`
`{'layer_type': 'GridLayer',
 'layer_data': 'Int16',
 'nodata': 32767,
 'tileLatSize': 1.0,
 'tileLonSize': 1.0,
 'blockLatSize': 0.1,
 'blockLonSize': 0.1,
 'cellLatSize': 0.00025,
 'cellLonSize': 0.00025}`

 I'll check if the nodata value is different for the sample that we use for the simulation run.

[2022-08-13 06:49] aornugent commented on #136
Darn ok - I must have compared an incorrect configuration. @Namyalg maybe you had just applied the patch on https://github.com/moja-global/FLINT.Cloud/pull/166?

@padmajabhol can you please zip and attach the configuration generated by the API so that I can can also compare? Or DM me on Slack.

[2022-08-13 06:59] Namyalg commented on #136
The latest update to this file https://github.com/Namyalg/FLINT.Cloud/blob/type-error/local/rest_api_gcbm/app.py works, and it does not throw the Values Too large error

[2022-08-13 07:00] Namyalg commented on #136
I have assigned the values of nodata in mean_annual_temperature and intial_age as 32767.0, and type as Int16
@padmajabhol , can you check with this version of app.py

[2022-08-15 13:46] padmajabhol commented on #136
Works for me on cloud shell.

[2022-08-15 14:12] padmajabhol commented on #136
https://github.com/padmajabhol/LFX-mentorship-progress-tracker/blob/main/Untitled.ipynb
These are the nodata value for intial_moja and mean_annual_temperature.

[2022-08-17 11:05] SanjaySinghRajpoot opened #172 "Add a autoapi extension to Sphinx docs"
The FLINT. Cloud docs have docs for deployment and development. There are no docs rendered for the APIs. With the help of the Autoapi extension, all the docs for the APIs will be visible.

[2022-08-21 08:42] padmajabhol commented on #148
Didn't notice we already had YAML templates, closing this now.

[2022-08-21 08:42] #148 closed

[2022-08-30 07:47] Namyalg opened #174 "Endpoint to modify table names"
Currently, an endpoint to fetch the tables and their schema exist.
This endpoint should facilitate the modification of table names

[2022-09-01 17:54] khanjasir90 commented on #170
@Namyalg I would like to work on this!

[2022-09-01 18:10] Namyalg commented on #170
Sure!

[2022-09-01 18:41] Namyalg opened #177 "Endpoint to modify attribute names in the table"
This endpoint will provide a way to edit the names of table attributes. This functionality will allow the users to modify the names according to the convention followed in the `gcbm_input.db`

[2022-09-05 15:02] #174 closed

[2022-09-07 12:17] SanjaySinghRajpoot opened #179 "Add a new GCBM endpoint to check the simulation"
A new endpoint can be created to check the status of GCBM simulation. On the FLINT-UI this endpoint can be called and the user can get the latest status of the simulation.

[2022-09-07 12:17] SanjaySinghRajpoot commented on #179
I would like to work on this issue.

[2022-09-08 16:28] khanjasir90 commented on #170
@Namyalg should I name the new file as "util.py" or any other name you could suggest of?

[2022-09-08 17:11] Namyalg commented on #170
How about `preprocess.py` ?

[2022-09-09 06:16] khanjasir90 commented on #170
ohh great! ig preprocess.py would be better.

[2022-09-09 14:31] Namyalg opened #182 "Add expected JSON response on successful execution of endpoints for GCBM example"
The instructions mentioned in the `curl.md` file of the GCBM example do not indicate the expected response on success.
Running the simulation can be made more user friendly by providing this information.

[2022-09-09 14:41] Crystalsage commented on #182
I'd like to work on this.

[2022-09-10 07:53] Namyalg opened #183 "Create an endpoint to return the `JSON` file generated in the backend"
In the current version of the GCBM simulation, the user is expected to upload only the `tiff` files as inputs.
The JSON for the file is generated in the backend.
We require an endpoint that can return the generated JSON given an input tiff file name

Name of the endpoint  : `/getConfig`
Method type : `POST`, taking the name of the simulation and name of the input file
Response : Generated JSON

[2022-09-10 08:10] khanjasir90 commented on #183
@Namyalg I'll take this one

[2022-09-11 08:55] khanjasir90 commented on #183
@Namyalg do i need to explicitly convert .tiff to json or is it being done when /dynamic request is being executed!

[2022-09-11 08:58] khanjasir90 commented on #183
@Namyalg do i need to use any specific package for the conversion or anything will do?

[2022-09-11 09:43] Namyalg commented on #183
Hi, I'd suggest you take a look at the file `app.py` and the commits made previously.
Try out the simulation.
Inspect the docker container to see how the JSON configuration is generated

Do share your findings, preferably on the slack channel

[2022-09-13 17:52] #170 closed

[2022-09-16 12:34] padmajabhol opened #186 "Add expected JSON response on successful execution of endpoints for FLINT Example"
The instructions mentioned in the curl.md file of the FLINT example do not indicate the expected response on success.
The API can be made more user friendly by providing this information.

[2022-09-16 12:37] padmajabhol opened #187 "High level diagram showcasing the working of flint cloud APIs"
You are free to think about how to accomplish this task. One way could be creating a flow chart sort of thing where you can help people visualise the APIs.

[2022-09-16 13:24] SanjaySinghRajpoot opened #188 "Configure and Add API comments to match the Auto API syntax"
The FLINT.Cloud docs when compiled with Sphinx and formatted with the help of the Auto API plugin, some of the tags and status of the APIs are missing. Some of the comments have the wrong syntex due to which the plugin is unable to read the text properly. Along with this some of the APIs have missing descriptions or incomplete descriptions.
![image](https://user-images.githubusercontent.com/674584

[2022-09-16 13:38] #172 closed

[2022-09-16 13:49] padmajabhol opened #189 "Run the APIs for FLINT Example and tell us your findings/understandings."
You can find all the instructions for the Flask example REST API Setup in the repository readme. Instructions on how to run the APIs can be found here: https://github.com/moja-global/FLINT.Cloud/blob/master/local/rest_api_flint.example/curl.md

There's no restriction on how you could want to take this on. The findings draft doesn't have to be anything formal and can be like a paragraph where you c

[2022-09-16 13:52] padmajabhol opened #190 "Run the APIs for gcbm and explain your understanding"
You can find all the instructions for the Flask example REST API Setup in the repository readme. Instructions on how to run the APIs can be found here: https://github.com/moja-global/FLINT.Cloud/blob/master/local/rest_api_gcbm/curl.md

There's no restriction on how you could want to take this on. The findings draft doesn't have to be anything formal and can be like a paragraph where you could ELIF

[2022-09-16 14:01] SanjaySinghRajpoot opened #191 "Update curl commands for the GCBM simulation"
The GCBM has been continually updated to make it more dynamic and flexible. Many endpoints were renamed for new features and updates. Some of the recent endpoints were added to the GCBM simulation(check GCBM app,py) but they were not documented for curl cmds. Added curl docs for the remaining APIs and text the existing curl cmds.

Thank You

[2022-09-17 02:31] #183 closed

[2022-09-17 02:31] #182 closed

[2022-09-17 12:44] legendarykamal commented on #191
hi @SanjaySinghRajpoot I would like to take this up :)

[2022-09-17 12:49] legendarykamal commented on #189
@padmajabhol I am interested to execute this task.

[2022-09-20 04:09] Vortue commented on #188
I would like to work on this!

[2022-09-26 16:18] khanjasir90 opened #192 "Create Helm Charts to manage Kubernetes manifest files."
Currently Flint.Cloud project doesn't use any package manager to manage Kubernetes manifest files.We can think of using Helm charts for this purpose.

[2022-09-27 11:08] SanjaySinghRajpoot commented on #191
please go ahead and send the PR.

[2022-10-01 02:19] khanjasir90 commented on #192
@HarshCasper we will have 2 charts like this?
![image](https://user-images.githubusercontent.com/53305380/193379267-8bd5c8d4-4b9d-4861-b6d7-ed22dbd05811.png)

[2022-10-03 02:04] khanjasir90 opened #193 "Update curl.md with /getConfig endpoint"
Recently /getConfig endpoint was added . Update the curl.md file with the /getConfig endpoint.

[2022-10-04 06:17] #190 closed

[2022-10-04 06:18] #189 closed

[2022-10-04 06:20] padmajabhol commented on #189
@legendarykamal this issue was not needed so I'm closing it for now, you can check other open issues.

[2022-10-04 06:20] padmajabhol commented on #188
@Vortue please go ahead!

[2022-10-04 06:21] #187 closed

[2022-10-04 10:47] khanjasir90 commented on #193
@Namyalg I am working on this!

[2022-10-08 07:02] Namyalg commented on #193
Sure, go ahead

[2022-10-08 07:30] #191 closed

[2022-10-09 21:17] baimamboukar commented on #97
Is this issue still valid ?

[2022-10-09 21:18] baimamboukar commented on #30
Hello @aornugent ! Can I work on this ?

[2022-10-09 21:22] baimamboukar commented on #186
Hello @padmajabhol ! Can I work on this ?

[2022-10-10 05:20] HarshCasper commented on #97
Nope — It has been fixed.

[2022-10-10 05:20] #97 closed

[2022-10-10 19:45] Freeman-kuch commented on #186
Hi i would love to work on this!

[2022-10-11 11:13] temitayopelumi commented on #131
Hi, @SanjaySinghRajpoot  has been finalized, can I work on it? I'm an outreach intern

[2022-10-11 15:47] demigod-11 commented on #96
hello @HarshCasper i would like to work on this
please can you assign this issue to me

[2022-10-11 16:32] HarshCasper commented on #96
It has already been merged!

[2022-10-11 16:32] #96 closed

[2022-10-13 04:28] SanjaySinghRajpoot commented on #131
Yes you can work on this @temitayopelumi.

[2022-10-13 08:32] temitayopelumi commented on #131
Alright. I will get to it

[2022-10-13 10:30] temitayopelumi commented on #131
@SanjaySinghRajpoot  i have raised a PR for this.

[2022-10-15 15:07] Caleno-R commented on #188
Hi, can I work on this?

[2022-10-15 16:38] Caleno-R commented on #186
Hi @padmajabhol, can I work on this issue?

[2022-10-15 17:16] Freeman-kuch commented on #136
Hi, Can I work on this ?

[2022-10-15 22:24] Freeman-kuch commented on #136
@Namyalg I have Raised a PR

[2022-10-15 22:36] Freeman-kuch commented on #136
@Namyalg I have Raised a PR

[2022-10-15 23:47] #131 closed

[2022-10-16 07:41] temitayopelumi commented on #126
@Namyalg, @aornugent  can I work on this issue?

[2022-10-16 10:22] aornugent commented on #126
@temitayopelumi - can you please describe your solution in broad strokes? How will you fix it?

[2022-10-16 10:41] temitayopelumi commented on #126
@aornugent,
If a successful simulation exists, the output file should be in the folder app/output
So,
1. I will check if the title has a corresponding output in the output folder.
2. I will return the current response if it has an output.
3. If it does not, I will return "You don't have a simulation with this title kindly check the title and try again."

[2022-10-16 10:45] temitayopelumi commented on #126
<img width="438" alt="Screen Shot 2022-10-16 at 11 42 24 AM" src="https://user-images.githubusercontent.com/47720307/196030983-916c6eaf-2b37-4e0d-80ef-91825caff4c3.png">
 The current code is not checking if the output exists

[2022-10-16 10:49] aornugent commented on #126
Sounds great, please go ahead.

[2022-10-16 11:05] temitayopelumi commented on #126
Alright

[2022-10-16 13:39] temitayopelumi commented on #126
@aornugent  I have raised a PR for this. But the labeller keeps failing. Do you know what could be wrong?

[2022-10-17 09:59] Janvi-Thakkar commented on #188
@Vortue can you please share your work status?

[2022-10-17 13:54] Freeman-kuch commented on #186
@Namyalg @padmajabhol I Just Raised a PR

[2022-10-17 14:19] Kengnelisa commented on #186
Hi, I would like to work on this

[2022-10-17 16:55] clintonMF commented on #193
@Namyalg can  I work on this

[2022-10-17 18:11] Namyalg commented on #186
Hi @Kengnelisa, @Freeman-kuch has raised a PR for this.
I suggest looking for another issue!

[2022-10-17 18:11] Namyalg commented on #193
@khanjasir90 are you working on this issue?

[2022-10-18 11:10] clintonMF commented on #193
There are various files that the /getConfig endpoint can get from the input folder. @Namyalg which specific ones would you advice I write curl command for? I was thinking about the files below
config=localdomain.json
config=pools_cbm.json
config=modules_cbm.json
config=modules_output.json
config=spinup.json
config=variables.json
config=internal_variables.json

[2022-10-18 12:21] khanjasir90 commented on #193
@clintonMF you can go ahead with this since I am busy with some college work :)

[2022-10-18 13:11] #126 closed

[2022-10-18 14:56] clintonMF commented on #193
Thank you very much @khanjasir90

[2022-10-18 18:22] Kengnelisa commented on #186
Okay thank you

[2022-10-18 18:22] Kengnelisa commented on #188
Hi, I would like to work on this

[2022-10-19 13:02] Vortue commented on #188
Sorry for the late reply, I haven't gotten a chance to work on this because
I'm currently swamped with other responsibilities. Feel free to assign this
issue to someone else, and once again I apologize for delaying it up to
this point.

- Virtue

On Tue, Oct 18, 2022 at 1:23 PM Dong Elizabeth Nfomo <
***@***.***> wrote:

[2022-10-27 22:32] Freeman-kuch opened #205 "GCBM Refactor idea Draft"
looking through some files, and endpoints of the gcbm rest API, and looking through the FLINT-UI, noticed the "/upload " and "/dynamic" endpoints need to be refactored to separate the configuration files to form individual endpoints and also make a separate endpoint to run a simulation

[2022-10-30 06:44] clintonMF opened #207 "Changing the error message for /dynamic endpoint"
Currently, running the /dynamic endpoint without uploading data returns a 500 server error with no helpful error message. This can be very confusing for users. Creating a better error message would be helpful for users telling them to upload the files before running the endpoint. This can be done using exceptions.

[2022-10-30 06:45] clintonMF commented on #207
@Namyalg @HarshCasper I am working on this

[2022-11-03 10:34] Janengethe opened #209 "Return message for /gcbm/title on a simulation"
Currently when you run " curl -d "title=run4" -X POST http://localhost:8080/upload/title" to get the simulation title for GCBM implementation of FLINT you get "{"data":"New {sim_title} simulation started. Please move on to the next stage for uploading files at /gcbm/upload."}". trying the same command again you get "{"data":"Simulation already exists with name {sim_title}. Please check the list of

[2022-11-03 10:38] Janengethe commented on #209
I worked on this #210